.title-red{
	width: 100%;
	background-color: #08c;
	height: 30px;
	color: #fff;
}

.title-format{
	padding-top:5px;
	padding-left: 5px;
	font-weight: bold;
}

.content-square{
	position: relative;
	float: left;
	background-color: whiteSmoke;
	width: 72px;
	height: 50px;
	margin-top: 2px;
	margin-bottom:20px;
}

.offset3-edited {
  margin-left: 240px;
}